:root {
    --main-color: #293fe6;
    --caution-color: #F04E4E;
    --black-8: rgba(0, 0, 0, 0.88);
    --black-6: rgba(0, 0, 0, 0.66);
    --black-4: rgba(0, 0, 0, 0.44);
    --black-2: rgba(0, 0, 0, 0.22);
    --text-green: #00a020;
    --green: #5ad858;
}

* {
    box-sizing: border-box;
}

@media all and (min-width:1200px) {
    html {
        font-size: 20px;
    }
}

@media all and (max-width:1199px) {
    html {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--black-8);
}

hr {
    background: rgba(0, 0, 0, 0.15);
    height: 1px;
    border: 0;
    margin: 1rem 0;

    // height: 1px;
    // background: rgba(0, 0, 0, 0.10);
    // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
    // margin: 28px 0;
}

b {
    font-weight: 600;
    color: var(--black-8);
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-color);

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.5;
}

select {
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    outline: none;
    border: 0;
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.05);
    font-family: inherit;
    font-weight: normal;

    &:disabled {
        opacity: 0.5;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &:not(:disabled):hover {
        text-decoration: underline;
    }
}

input {
    height: 44px;
    border: 0;
    background-color: unset;
    font-size: 0.8rem;
    font-weight: 400;
    &::placeholder {
        color: var(--black-4);
    }
    &.big {
        background-color: white;
        width: 100%;
        padding: 12px 10px;
        border-radius: 8px;
        outline: 1px solid rgba(0, 0, 0, 0.5);

        &:hover {
            outline: 1px solid var(--main-color);
        }

        &:focus,
        &:active {
            outline: 2px solid var(--main-color) !important;
        }

        &.disabled {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &:disabled {
        opacity: 0.5;
    }

    &.line {
        outline: none;
        border-bottom: 1px solid;
        height: 1.5rem;

        &:focus {
            border-bottom: 2px solid var(--main-color) !important;
        }
    }

    // &[type=search] {padding-right: 15px;}
    // &::-webkit-search-decoration,
    // &::-webkit-search-cancel-button,
    // &::-webkit-search-results-button,
    // &::-webkit-search-results-decoration{
    //     display:none;
    // }
}

form {
    label:not(._checkbox) {
        display: block;
        color: var(--black-6);
        font-size: 16px;
        font-weight: 700;

        input {
            margin-top: 8px;
        }
    }

    a {
        font-size: 16px;
    }
}

button {
    height: 44px;
    border-radius: 8px;
    padding: 0 1.4rem;
    background-color: unset;
    color: var(--main-color);
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    font-family: inherit;
    user-select: none;
    outline: none;
    position: relative;
    overflow: hidden;

    &:not(.disabled, .noLine):hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.04);
        display: block;
    }

    &.noLine {
        border: 0;

        &.warning {
            color: var(--caution-color);
        }

        &:first-child {
            padding-left: 10px;
            background-color: unset;
        }
    }

    &.unFinished {
        box-shadow: 1px 1px var(--black-2);
        border: 2px solid currentColor;

        &:active {
            box-shadow: unset;
            left: 1px;
            top: 1px;
        }

        &.warning {
            color: var(--caution-color);
        }
    }

    &.final {
        box-shadow: 1px 1px var(--black-2);

        &:active {
            box-shadow: unset;
            left: 1px;
            top: 1px;
        }

        border: 0;
        background-color: var(--main-color);
        color: #fff;

        &.warning {
            background-color: var(--caution-color);
        }
    }
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafaff;
    font-family: "Radio Canada", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;

    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// /* IE의 경우 input(type="search") x 버튼 제거 */
// input::-ms-clear,
// input::-ms-reveal{
//     display:none;
// }
// /* IE의 경우 input(type="search") x 버튼 제거 */
// input::-webkit-search-decoration,
// input::-webkit-search-cancel-button,
// input::-webkit-search-results-button,
// input::-webkit-search-results-decoration{
//     display:none;
// }