.iconClick {
    // clickable material icon
    // .iconClick
    //      .material-symbols-outlined !!use_round_icon!!
    //      span Some Text (optional)

    display: inline-block;
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;

    &:hover {
        text-decoration: none;
    }

    &:hover .material-symbols-outlined::before {
        box-shadow: inset 0 0 0 4px;
    }

    .material-symbols-outlined {
        position: relative;
        font-size: 1.5rem;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: .2;
        }
    }
}

.editHandle {
    // text button for edit -> [edit]
    font-size: 0.66rem;
    font-weight: 600;
    color: var(--main-color);
    text-decoration: none;
    vertical-align: middle;

    &:hover {
        text-decoration: underline;
    }

    cursor: pointer;
}

.infoBox {
    // info box for displaying information
    /*

    .infoBox
        .infoTitle Title
        hr
        .state
            .smallTitle Small Title
            .smallValue Small Value
        
        .state.nobreak
            .smallTitle Small Title
            .ellipsis Ellipsised value...

        .infoValue
            .smallTitle Editable value
            template(v-if="...")
                form.editValue(@submit.prevent="...")
                    input

                    template(v-if="updatingValue")
                        img.loading(src="@/assets/img/loading.png")
                    label.material-symbols-outlined.save(v-else) done
                        input(type="submit" hidden)
                    span.material-symbols-outlined.cancel(@click="...") close

            div(v-else)
                .smallValue {{ value }}&nbsp;
                span.editHandle(@click="...") [EDIT]
        
        .infoValue
            .smallTitle Ellipsised editable value
            template(v-if="...")
                form.editValue(@submit.prevent="...")
                    input

                    template(v-if="updatingValue")
                        img.loading(src="@/assets/img/loading.png")
                    label.material-symbols-outlined.save(v-else) done
                        input(type="submit" hidden)
                    span.material-symbols-outlined.cancel(@click="...") close
            template(v-else)
                .ellipsis {{ value }}&nbsp;
                span.editHandle(@click="...") [EDIT]
    */

    // --smallTitle-width: 130px; <- can be adjusted

    --smallTitle-width: 120px;
    position: relative;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.2);

    .infoTitle {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .state {
        margin-bottom: 0.75rem;

        &.nobreak {
            white-space: nowrap;
        }

        .ellipsis {
            max-width: calc(100% - var(--smallTitle-width));
        }
    }

    .smallTitle {
        font-size: 0.8rem;
        font-weight: 500;
        display: inline-block;
        width: var(--smallTitle-width);
        vertical-align: text-bottom;
    }

    .smallValue {
        display: inline-block;

        * {
            vertical-align: middle;
        }
    }

    .infoValue {
        max-width: 100%;
        margin-bottom: 10px;

        .smallTitle {
            font-size: 0.7rem;
            font-weight: 600;
        }

        &>*:not(.ellipsis, span, .editHandle, a) {
            &:not(select):last-child {
                min-height: 44px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 4px 0;
            }
        }

        .editValue {
            display: flex;
            align-items: center;
            flex-grow: 1;
            position: relative;
            flex-wrap: nowrap !important;
            margin: 4px 0;
            
            .loading {
                vertical-align: middle;
                margin-right: 10px;
            }

            .save,
            .cancel {
                position: relative;
                font-size: 1.3rem;
                font-weight: 500;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    padding: 4px;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-color: #293FE61A;
                    display: none;
                }

                &:hover::after {
                    display: block;
                }
            }

            .save {
                color: var(--main-color);
                margin-right: 10px;
            }

            input {
                flex-grow: 1;
                margin-right: 10px;
            }
        }
    }
}